body {
    
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 241, 242);
  }

  .main {
    padding: 16px;
    margin-bottom: 30px;
  }
  .i1{
    font-size: 20px;
    font-weight: 500;
  }
  .mainpage{
border: 1px solid white;
height: 180px;
width: 650px;
box-shadow: 0 0 40px rgba(8,7,16,0.6);
margin-top: 200px;
}

table, td, th {  
  border: 1px solid black;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 90%;
}

th, td {
  padding: 15px;
}
div.assign{
width: 700px;
border-radius: 10px;
background-color: #f2f2f2;
padding: 5px 50px 75px 130px;
text-align: left;
margin-top: 100px;
margin-bottom: 80px;
}
input[type=text],input[type=number], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#myForm {
  width: 300px;
  margin: 20vh auto 0 auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 4px;
  font-size: 12px;

}
#myForm button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: rgb(245, 108, 176);
  border: none;
  border-radius: 4px;
}
.but {

  background-color: rgb(222, 137, 181);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 30px;
  margin-left: 110px;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
input[type=text],input[type=number],input[type=date],input[type=email] ,select {
    width: 50%;
    padding: 12px 20px;
    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  
  .labels{
  width: 550px;
  border-radius: 60px;
  background-color: #ecdde5;
  padding: 15px 0.5px 35px 130px;
  text-align: left;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 60px;
  padding-bottom:3px ;
  padding-top: 3px;
  
  
  }
  
  #myForm {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
    
  }
  #myForm button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
    
  }
  .input-control.success input {
    border-color: #09c372;
  }
  .input-control.error input {
    border-color: #ff3860;
  }
  .input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
  }
  div {
    margin-top: 0.5px;
    margin-bottom: 0.5px;
  
  }